body{
    margin: 0;
    padding: 0;
}

.all{
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
}

header{
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.left{
    display: flex;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    font-size:30px;
    color: #F94892;
   
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

p{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

label{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;

}

.right{
    display: flex;
    align-items: center;
    gap:20px; 
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.middle-container{
    grid-row:2/3;
    grid-column: 2/3;
    align-self: center;
    justify-content: center;
    padding-top: 90px;
}
.names{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

footer{
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-top: 70px; 
    gap:10px;
}

.information{
    text-align: center;
    
}
.calculator{
    display: flex;
    flex-direction: column;
    gap:15px;
    background-image: url("heart.png");
    height:60%;
    background-repeat: no-repeat;
    background-position: left center; 
    background-size:80px , 80px;
    background-position-x:50%;
    background-position-y: 55%;
}

form{
    padding-top: 130px;
    display: flex;
    justify-content: center;
    gap:90px;
    padding-bottom: 50px;
}

button{
    align-self: center;
    background-color: white; 
    color: black; 
    border: 2px solid #F94892;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;

}

button:hover{
    background-color: #F94892;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    
}

input{
    border: 2px solid #F94892;
    height: 50px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.git{
    height: 30px;
    width: 30px;
    padding-bottom: 10px;
    
}

.github{
    padding-bottom: 10px;
    
}


